# Environment variables (Berisi kredensial sensitif)
.env

# Logs & Debugging
debug_smtp.log
debug_emails.txt

# Composer dependencies
/vendor/

# IDE / Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
